.checkout-item {
  width: 100%;
  display: flex;
  max-height: 125px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .checkout-image-div {
    max-height: 100%;

    .checkout-item-image {
      height: 110px;
    }
  }

  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;
    margin: 0 auto;

    .arrow {
      cursor: pointer;
    }
    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
    margin: 0 auto;
  }
}
