<!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Preview</title>
   <style>* { box-sizing: border-box; } body {margin: 0;}.cell{width:8%;display:table-cell;height:75px;}.row{display:table;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;width:100%;}#i949{padding:10px;}#ib6g{padding:10px;}#ioblu{padding:10px;}#i6asz{padding:10px;}#iguqs{padding:10px;}#iwapq{padding:10px;}@media (max-width: 768px){.cell{width:100%;display:block;}}</style>
  </head>
  
  <body>
    <div class="row"><div class="cell"><div id="ib6g">hopefully this works</div><div id="i949">Insert your text here</div></div><div class="cell"></div></div><div class="row"><div class="cell"><div id="i6asz">Insert your text here</div><div id="iwapq">Insert your text here</div></div><div class="cell"><div id="ioblu">Insert your text here</div><div id="iguqs">Insert your text here</div></div></div>
    <script src="js/scripts.js"></script>
  </body>
  </html>