.sign-in {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
  a.register {
    margin: 0 auto;
  }
}
