.footer-row {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(75, 75, 75) 100%);
  color: white;
  margin-top: 15px;

  .footer-collection-links a {
    display: block;
    color: white;
    font-size: 20px;
  }

  .social-icons {
    width: 60%;
    margin: 0 auto;
  }

  .footer-about-us a {
    color: white;
    font-size: 20px;
  }

  .newsletter-signup {
    #footerNewsletterName {
      width: 50%;
      margin: 0 auto;
    }
    #footerNewsletterEmail {
      width: 50%;
      margin: 0 auto;
    }
    button {
      margin: 0 auto;
    }
  }
}
