.product-card {
  margin-top: 20px;
  .product-page-title {
    font-size: 36px;
    font-weight: bold;
  }
  .card-header .btn-link {
    color: black;
  }
  .product-details {
    padding-top: 0px;
  }
  .product-options-row {
    width: auto;
    margin: 0 auto;
  }
  .product-option-radio-buttons {
    margin-right: auto;
    width: auto;
  }
  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
    }
    .value {
      margin: 0 10px;
    }
  }
}
