.product-card {
  margin-top: 80px;

  .card-header .btn-link {
    color: black;
  }
  .card-img {
    max-height: 100vh;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
    }
    .value {
      margin: 0 10px;
    }
  }
}
