.product-card {
  margin-top: 20px;
  .product-page-title {
    font-size: 36px;
    font-weight: bold;
  }
  .card-header .btn-link {
    color: black;
  }
  .card-img {
    max-height: 100vh;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
    }
    .value {
      margin: 0 10px;
    }
  }
}
