.navbar {
  width: 100%;
  transition: background-color 0.5s ease;
  align-items: center;
  justify-content: center;

  .left-side-nav {
    margin-right: auto;
    a.nav-link {
      text-align: center;
    }
  }

  .nav-item a.nav-link {
    color: black;
  }

  span.navbar-brand {
    align-items: center;
    justify-content: center;
  }

  .navbar-brand a {
    color: black;
    text-decoration: none;
  }

  .right-side {
    align-items: center;
    justify-content: center;

    a.toggle-signin {
      color: black;
    }
  }
}

.navbar-active {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(75, 75, 75) 100%);

  @media screen and (max-width: 800px) {
    .nav-item a.nav-link {
      color: white;
    }

    .navbar-brand a {
      color: white;
    }
    .right-side a.nav-link a.toggle-signin {
      color: white;
    }
    .cart-icon {
      color: white;
    }
  }
}
