.navbar {
  width: 100%;
  transition: background-color 0.5s ease;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(75, 75, 75) 100%);

  #responsive-navbar-nav {
    div.dropdown-menu.show {
      text-align: center;
    }
    .left-side-nav {
      margin-right: auto;
      a.nav-link {
        text-align: center;
      }
      #collasible-nav-dropdown {
        color: white;
      }
      #responsive-navbar-nav > div.left-side-nav.navbar-nav > div > div > a {
        color: white;
      }
    }
  }
  button.responsive-navbar-nav span {
    color: white;
  }

  .nav-item a.nav-link {
    color: white;
  }

  span.navbar-brand {
    align-items: center;
    justify-content: center;
  }

  .navbar-brand a {
    color: white;
    text-decoration: none;
  }

  .right-side {
    align-items: center;
    justify-content: center;

    a.toggle-signin {
      color: white;
    }
    .cart-icon {
      color: white;
    }
  }
}
