.featured-post-row {
  --bs-gutter-x: 0;
}
.card.featured-post {
  height: 400px;
  margin: 0 0;
  .featured-blog-overlay {
    font-size: 28px;
  }
  .featured-image {
    height: 100%;
  }
}
.featured-blog-overlay {
  background: rgba(255, 255, 255, 0.3);
  .featured-blog-title {
    margin-top: 150px;
  }
}
