.featured-post-row {
  --bs-gutter-x: 0;
}
.card.featured-post {
  height: 400px;
  margin: 0 0;
  .featured-blog-overlay {
    font-size: 28px;
  }
  .featured-image {
    height: 100%;
  }
}

.blog-preview-card {
  height: 500px;
  margin-bottom: 15px;

  a .blog-preview-image {
    max-height: 300px;
    max-width: 100%;
  }
  .blog-preview-body {
    margin-bottom: 15px;

    background: rgba(255, 255, 255, 0.8);
  }
}
